<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desktop Menu</title>
    <link rel="stylesheet" href="/css/desktop_menu.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <div class="menu-desktop">
        <div class="menu-sidebar">
            <div class="logo-desktop">
                <img class="lg-logo" src="#mylogo" alt="My Logo" />
            </div>
            <div class="menu-desktop-items">
                <a href="" class="menu-items">
                    <span class="icon-container"><img class="icon--menu icon--primary" src="/icons/home.svg"
                            alt="Home" /></span>
                            <span>Home</span>
                </a>
                
                <a href="" class="menu-items">
                    <span class="icon-container"><img class="icon--menu icon--primary" src="/icons/user.svg"
                            alt="Home" /></span>
                      <span>About</span>      
                </a>
                
                <a href="" class="menu-items">
                    <span class="icon-container"><img class="icon--menu icon--primary" src="/icons/award.svg"
                            alt="Home" /></span>
                        <span>Resume</span>     
                </a>
               
                <a href="" class="menu-items">
                    <span class="icon-container"><img class="icon--menu icon--primary" src="/icons/image.svg"
                            alt="Home" /></span>
                       <span>Portfolio</span>      
                </a>
                
               
                <a href="" class="menu-items">
                    <span class="icon-container"><img class="icon--menu icon--primary" src="/icons/box.svg"
                            alt="Home" /></span>
                          <span>Blog</span>     
                </a>

             
                <a href="" class="menu-items">
                    <span class="icon-container"><img class="icon--menu icon--primary" src="/icons/email.svg"
                            alt="Home" /></span>
                        <span>Contact</span>     
                </a>

               
            </div>
        </div>
    </div>
</body>

</html>