<!-- Icons Menu-->
<h3>Menu Icons</h3>
<br>
<span class="icon-container">
    <img class="icon icon--primary" src="/icons/home.svg" alt="">
  </span>

  <span class="icon-container">
    <img class="icon--menu icon--primary" src="/icons/user.svg" alt="">
  </span>
  <span class="icon-container">
    <img class="icon--menu icon--primary" src="/icons/award.svg" alt="">
  </span>
  <span class="icon-container">
    <img class="icon--menu icon--primary" src="/icons/image.svg" alt="">
  </span>
  <span class="icon-container">
    <img class="icon--menu icon--primary" src="/icons/statictics.svg" alt="">
  </span>
  <span class="icon-container">
    <img class="icon--menu icon--primary" src="/icons/email.svg" alt="">
  </span>
  

    <!-- Next and Previous Buttons -->
    <br>
    <h3>Next and Previous Buttons</h3>
    <br>
    <span class="icon-container">
    <img class="icon--menu icon--primary" src="/icons/next.svg" alt="">
  </span>
  <span class="icon-container">
    <img class="icon--menu icon--primary" src="/icons/prev.svg" alt="">
  </span>
  <br>