<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile Menu</title>
    <link rel="stylesheet" href="/css/mobile_menu.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <div class="menu-mobile">
        <div class="mobile-panel">
        </div>
        <div class="mobile-sidebar">
            <div class="close-panel">
                <button class="close-panel">
                    <img class="close-icon" src="/icons/close.svg" alt="">
                </button>
            </div>
            <div class="mobile-nav">
                <div class="mobile-logo">
                    <img class="sm-logo" src="#mylogo" alt="mobile-logo">
                </div>

                <div class="menu-items">
                    <a href="#" class="menu-mobile-item">
                        <img class="menu-mobile-icon" src="/icons/home.svg" alt="">
                        Home
                    </a>
                    <a href="#" class="menu-mobile-item">
                        <img class="menu-mobile-icon" src="/icons/user.svg" alt="">
                        About Me
                    </a>
                    <a href="#" class="menu-mobile-item">
                        <img class="menu-mobile-icon" src="/icons/award.svg" alt="">
                        Resume
                    </a>
                    <a href="#" class="menu-mobile-item">
                        <img class="menu-mobile-icon" src="/icons/image.svg" alt="">
                        Portfolio
                    </a>
                    <a href="#" class="menu-mobile-item">
                        <img class="menu-mobile-icon" src="/icons/box.svg" alt="">
                        Blog
                    </a>
                    <a href="#" class="menu-mobile-item">
                        <img class="menu-mobile-icon" src="/icons/email.svg" alt="">
                        Contact Me
                    </a>
                </div>

            </div>

        </div>
    </div>
</body>

</html>